.landing-page-body{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem 4rem;
    flex-grow: 1;
} 

 .landing-page-note-maker-container{
    width: 100%;
}
.landing-page-note-cards-container{
    width: 100%;
    display: flex; 
    flex-direction: column;
    gap: 1.5rem;
    margin: 2rem;
} 

.common-big-container{
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.main-body{
display: flex;
flex-grow: 1;
}